.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: green;
  height: 100%;
  justify-content: center;

  .login__div {
    background-color: rgb(187, 187, 187);
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 300px;
    padding: 20px 10px;
    border-radius: 15px;

    form {
      display: flex;
      flex-direction: column;
    }

    &-registrate {
      font-size: 9px;
      color: black;
      cursor: pointer;
    }

    &-registrate:hover {
      color: white;
    }

    &-button {
      button {
        color: white;
        background-color: green;
        width: 90%;
      }
    }

  }

}