.login__div {
    display: grid;
    height: 100%;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 20px 5px;
    &div-2 {
        display: grid;
        height: 100%;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        grid-gap: 20px 5px;
        &-mat {
            width: 100vh;
        }
    }
}

.div__button {
    display: flex;
    justify-content:flex-end
}