.hk-dashboard-pages-clients-add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

  &-container {
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
    text-align: center;

    &-title {
      font-size: 24px;
      margin-bottom: 20px;
      margin-bottom: 70px;
      color: white;
    }

    &-form {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;

      &-field {
        max-width: 300px;
        color: white !important;
      }
    }

    &-button {
      display: flex;
      justify-content: center;
      gap: 15px;

      &-fotter {
        color: white;
        background-color: #9029bd;
        width: 110px;
        height: 50px;
        margin-top: 30px;
        border-radius: 7px;
        cursor: pointer;
      }
    }
  }
}