.hk-dashboard-pages-bebidas {
    padding: 0 30px;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-button {
            border-radius: 14px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 700;
            width: 180px;
            height: 37px;
            color: white;
            background-color: #7b1fa2;
        }

        &-title {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 26px;
            margin-top: 15px;
            color: #9029bd;
        }
    }
}