<section class="addExercise">
  <div class="addDiv">
    <h2 class="exerciseTitle">Crear Ejercicio</h2>
    <form [formGroup]="exerciseForm" class="formExercise">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input formControlName="ejercicioName" matInput />
        <mat-error *ngIf="exerciseForm.get('ejercioName')?.hasError('required')"
          >El nombre es requerido</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Series</mat-label>
        <input formControlName="series" matInput />
        <mat-error *ngIf="exerciseForm.get('series')?.hasError('required')"
          >Series es requerido</mat-error
        >
        <mat-error *ngIf="exerciseForm.get('series')?.hasError('pattern')"
          >El numero no es valido</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Repeticiones</mat-label>
        <input formControlName="repeticiones" matInput />
        <mat-error
          *ngIf="exerciseForm.get('repeticiones')?.hasError('required')"
          >Repeticiones es requerido</mat-error
        >
        <mat-error *ngIf="exerciseForm.get('repeticiones')?.hasError('pattern')"
          >El numero no es valido</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descripcion</mat-label>
        <input formControlName="descripcion" matInput />
        <mat-error *ngIf="exerciseForm.get('descripcion')?.hasError('required')"
          >Descripcion es requerido</mat-error
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Rutina</mat-label>
        <mat-select formControlName="rutinaName">
          <mat-option
            *ngFor="let exercise of catalogExercises"
            [value]="exercise.id"
            >{{ exercise.titulo }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </form>

    <div class="exerciseDivButton">
      <button class="button" (click)="onSubmit()" mat-button>Guardar</button>
      <button class="button" mat-button (click)="closeModal()">Cancelar</button>
    </div>
  </div>
</section>
