.addExercise {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
  background-color: #000000;
  min-width: 370px;


  .addDiv {
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    min-width: 370px;
  }

  .exerciseTitle {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
  }

  .formExercise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .inputs {
    width: 60%;
  }

  .exerciseDivButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: #9029bd;
    width: 150px; 
    margin: 0 auto;
    border-radius: 7px;
  }
}