.mainContenedor {
    height: 100vh;
  
    &__div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        grid-gap: 10px 5px;
        &-2 {
            width: 100vh; 
            justify-content: center;  
            align-items: center;  
        }
    }
}

.mainContenedor {
    
  background-image: url("../../img/img2.webp");
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  height: 100vh; 
  max-width: 100%;
  height: auto;

}


.marco {
    width: 200px;
    height: 200px;
    background-color: #0f1012; /* Fondo azul */
    border: 6px solid #00ff37; /* Borde azul */
    border-radius: 50%; /* Hace que el marco sea redondo */
    padding: 50px;
    text-align: center;
    font-size: 24px;
    box-shadow: 0 0 20px rgba(102, 237, 129, 0.933); /* Efecto de sombra para iluminación */
    float: left;
    margin: 5%;
     /* Establecer la posición absoluta para ubicar a la izquierda */
    position: absolute;
    left: 20px; /* Ajustar la posición a la izquierda */
    top: 40%; /* Centrar verticalmente */
    transform: translateY(-50%); /* Centrar verticalmente */
}


.marco {
   
    background-image: url("../../img/316815739_205937208465617_7205712516438900157_n-removebg-preview\ \(2\).png");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    
}

