.mainContenedor {
    height: 100vh;
    background-color: rgb(72, 72, 243);
    &__div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        grid-gap: 20px 5px;
        &-2 {
            width: 100vh; 
            justify-content: center;  
            align-items: center;  
        }
    }
}