<section class="addExercise">
    <div class="addDiv">
        <h2 class="exerciseTitle">Crear Ejercicio</h2>
        <form [formGroup]="usersForm" class="formExercise">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input formControlName="userName" type="userName" matInput />
                <mat-error *ngIf="usersForm.get('userName')?.hasError('required')">El nombre es
                    requerido</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>email</mat-label>
                <input formControlName="email" type="email" matInput />
                <mat-error *ngIf="usersForm.get('email')?.hasError('required')">Email es requerido</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input formControlName="password" type="password" matInput />
                <mat-error *ngIf="usersForm.get('password')?.hasError('required')">Password es
                    requerido</mat-error>
            </mat-form-field>

        </form>

        <div class="exerciseDivButton">
            <button class="button" (click)="onSubmit()" mat-button>Guardar</button>
            <button class="button" mat-button (click)="closeModal()">Cancelar</button>
        </div>
    </div>
</section>