<section class="kh-shared-component-card">
    <mat-card class="kh-shared-component-card-container">
        <div class="kh-shared-component-card-container-text">
            <mat-card-header class="kh-shared-component-card-container-text-header">
                <mat-card-title class="kh-shared-component-card-container-text-header-title">Ganancias x
                    mes</mat-card-title>
            </mat-card-header>
            <mat-card-content class="kh-shared-component-card-container-text-content">
                <h3 class="kh-shared-component-card-container-text-content-number">
                    320
                </h3>
            </mat-card-content>
        </div>
    </mat-card>
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="savings"
        class="kh-shared-component-card-icon"></mat-icon>
</section>