<section class="addExercise">
    <div class="addDiv">
        <h2 class="exerciseTitle">Crear Ejercicio</h2>
        <form [formGroup]="drinksForm" class="formExercise">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input formControlName="bebidaName" type="bebidaName" matInput />
                <mat-error *ngIf="drinksForm.get('bebidaName')?.hasError('required')">El nombre es
                    requerido</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Tipo</mat-label>
                <input formControlName="tipo" type="tipo" matInput />
                <mat-error *ngIf="drinksForm.get('tipo')?.hasError('required')">Tipo es requerido</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Precio</mat-label>
                <input formControlName="precio" type="precio" matInput />
                <mat-error *ngIf="drinksForm.get('precio')?.hasError('required')">Precio es
                    requerido</mat-error>
                <mat-error *ngIf="drinksForm.get('precio')?.hasError('pattern')">El numero no es
                    valido</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Stock</mat-label>
                <input formControlName="stock" type="stock" matInput />
                <mat-error *ngIf="drinksForm.get('stock')?.hasError('required')">Stock es
                    requerido</mat-error>
                    <mat-error *ngIf="drinksForm.get('stock')?.hasError('pattern')">El Stock no es
                        valido</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Descripcion</mat-label>
                <input formControlName="descripcion" type="descripcion" matInput />
                <mat-error *ngIf="drinksForm.get('descripcion')?.hasError('required')">Descripcion es
                    requerido</mat-error>
            </mat-form-field>
        </form>

        <div class="exerciseDivButton">
            <button class="button" (click)="onSubmit()" mat-button>Guardar</button>
            <button class="button" mat-button (click)="closeModal()">Cancelar</button>
        </div>
    </div>
</section>