// Define colores oscuros como variables
$dark-bg-color: #333;
$chart-container-bg-color: #444;

.hk-dashboard-pages-home {
    background-color: $dark-bg-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 94.4vh;
    background-image: linear-gradient(to top, #c9bdc9, #b6a3c3, #9a8dc0, #707abf, #1e6bbe);

    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 70px;

        &-header {
            height: 50px;

            &-title {
                font-size: 44px;
                font-weight: 800;
                color: $dark-bg-color;
            }
        }

        &-info {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;

            &-card{
                width: 50%;
                padding-left: 150px;
            }

            &-tabla {
                width: 50%;
                margin: 120px 2.5% 0;
                padding: 0 100px;
                height: 400px;
            }
        }
    }

    @media (max-width: 768px) {
        .hk-dashboard-pages-home{

            &-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}
