.hk-dashboard-pages-ejercicios {
  padding: 0 30px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

    &-button {
      border-radius: 14px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 16px;
    }

    &-title {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: #9029bd;
    }
  }
}

@media screen and (max-width: 600px) {
  .hk-dashboard-pages-ejercicios-header h2 {
    display: none;
  }
}