<section class="table-container">
  <div class="button-div">
    <button
      class="center-button"
      (click)="createExercise()"
      mat-raised-button
      color="primary"
    >
      Agregar ejercicio
    </button>
    <h2 class="ejercicios">EJERCICIOS</h2>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="rutina">
        <th mat-header-cell *matHeaderCellDef>Rutina</th>
        <td mat-cell *matCellDef="let element">{{ element.titulo }}</td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let ejercicio of element.ejercicios">
            {{ ejercicio.ejercicioName }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let ejercicio of element.ejercicios">
            {{ ejercicio.tipo }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="series">
        <th mat-header-cell *matHeaderCellDef>Series</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let ejercicio of element.ejercicios">
            {{ ejercicio.series }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="repeticiones">
        <th mat-header-cell *matHeaderCellDef>Repeticiones</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let ejercicio of element.repeticiones">
            {{ ejercicio.tipo }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let ejercicio of element.ejercicios">
            {{ ejercicio.descripcion }}
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</section>
