table {
  width: 100%;

  td {
    max-height: 25px;
  }
}

.table-container {
  padding-left: 25px;
  padding-right: 25px;
}

.vertical {
  max-height: 20px;
  width: 100%;
}

.button-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

.center-button {
  border-radius: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.filter {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  margin-top: 35px;
  margin-bottom: 10px;
  color: #9029bd;
}

.dobleBotton {
  display: flex;
  justify-content: space-between;
  width: 105px;
}

.edit {
  margin: 8px 8px 8px 0;
}

.delete {
  margin: 8px 8px 8px 0;
}

@media screen and (max-width: 600px) {
  .button-div h2 {
    display: none;
  }
}