<section>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button class="right">
        <mat-icon class="side" (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>Hanko</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="sidenavv">
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list class="menu">
        <a mat-list-item routerLink="/dashboard/usuarios">Usuarios</a>
        <a mat-list-item routerLink="/dashboard/clientes">Clientes</a>
        <a mat-list-item routerLink="/dashboard/rutinas">Rutinas</a>
        <a mat-list-item routerLink="/dashboard/ejercicios">Ejercicios</a>
        <a mat-list-item routerLink="/dashboard/bebidas">Bebidas</a>
        <a mat-list-item routerLink="/dashboard/finanzas">Finanzas</a>
      </mat-nav-list>
      <button (click)="('')" mat-raised-button color="primary">
        Cerrar sesión
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="min-height: 90vh">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
