.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button {
    position: relative;
    bottom: 10px;
  }
}

.menu {
  color: white;
  margin-right: 5px;
}

.right {
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: none;
  margin-right: 8px;
  background-color: #7b1fa2;
  cursor: pointer;
}