<section>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button class="right">
        <mat-icon class="side" (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>Hanko</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="sidenavv">
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list class="menu">
        <a mat-list-item routerLink="/dashboard">Home</a>
        <a mat-list-item routerLink="/usuarios">Usuarios</a>
        <a mat-list-item routerLink="/clientes">Clientes</a>
        <a mat-list-item routerLink="/ejercicios">Ejercicios</a>
        <a mat-list-item routerLink="/bebidas">Bebidas</a>
        <a mat-list-item routerLink="/finanzas">Finanzas</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 92.5vh">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
